body{
  margin: 0;
   font-family: "Poppins", sans-serif;
}
.logo {
    width: 120px;
    height: 120px;
}

.navtext{
   color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px z, 0 0 5px #00d4ff; 

}

html {
  scroll-behavior: smooth;
}


/* -------------------------  SOBRE NOSOTROS ----------------------------------------------------- */



/*.how-img 
 {
    text-align: center;
}
.how-img img{
    width: 40%;
}
*/
   .zoom{
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 2s, height 2s, transform 2s;
        -moz-transition: width 2s, height 2s, -moz-transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        -o-transition: width 2s, height 2s,-o-transform 2s;
    }
    .zoom:hover{
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform : scale(.9);
        -moz-transform : scale(.9);      /* Firefox */
        -webkit-transform : scale(.9);   /* Chrome - Safari */
        -o-transform : scale(.9);        /* Opera */
    }

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);


  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* -------------------------  FOOTER ----------------------------------------------------- */



/* GALERIA*/

.serviciosOtros {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.naranja {
  border-color: orangered;
  color: orange;
}

.naranja:hover {
  background-color: orangered;
  color: white;
}