body{
  margin: 0;
   font-family: "Poppins", sans-serif;
}
.logo {
    width: 120px;
    height: 120px;
}

.navtext{
   color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px z, 0 0 5px #00d4ff; 

}

html {
  scroll-behavior: smooth;
}


/* -------------------------  SOBRE NOSOTROS ----------------------------------------------------- */



/*.how-img 
 {
    text-align: center;
}
.how-img img{
    width: 40%;
}

.zoom {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
 
}
.zoom:hover {
   transform: scale(2); (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) 
  border-color: transparent ;

} */

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: #08AEEA;
background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);


  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* -------------------------  FOOTER ----------------------------------------------------- */



/* GALERIA*/


