
.btn-login {
  background-color: #59b2e0;
  outline: none;
  color: #fff;
 
  padding: 14px 0;
  border-color: #59b2e6;
}

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53a3cd;
  border-color: #53a3cd;
}

#nombre,#apellido,#mensaje,#correo,#telefono{
  border: none;
  border-bottom: solid 2px #53a3cd;

}

